<section class="search wrap">
  <div class="search-container">
    <h2 class="title">오늘 뭐먹지?</h2>
    <div class="input-container">
      <input placeholder="지역, 음식, 업체명 검색" id="searchBox" type="text" />
      <i class="fa fa-search searchBtn" aria-hidden="true"></i>
    </div>
  </div>
</section>