<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
      /* common */
      * {
        font-family: "Noto Sans KR", sans-serif;
      }
      a {
        text-decoration: none;
        display: block;
      }
      .wrap {
        margin: 0 auto;
        padding: 0 20px;
        max-width: 1400px;
      }

      /* header */
      header {
        z-index: 99;
        position: fixed;
        top: 0;
        padding: 10px 0;
        width: 100%;
        background-color: #fff;
        border-bottom: 1px solid #ccc;
      }
      header .wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      h1 > a {
        display: block;
        width: 257px;
        height: 53px;
        background: no-repeat
          url("https://young-gyu-bucket.s3.ap-northeast-2.amazonaws.com/image/review/1687917967553-logo.png");
      }
      .login {
        color: #ff2e00;
        text-decoration: none;
      }
      /* Thumbnail */
      .thumbnail {
        max-width: 1400px;
        margin: 74px auto 0;
      }
      .thumbnail img {
        display: block;
        width: 100%;
        height: 400px;
        object-fit: cover;
      }
      /* place */
      .place {
        position: relative;
        max-width: 800px;
        margin: 0 auto;
        padding: 0 20px;
      }
      .place .title {
        padding: 32px 0 24px;
        font-size: 32px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        margin-bottom: 24px;
      }
      .place .title span {
        color: #ff2e00;
      }
      .place .like {
        position: absolute;
        font-size: 32px;
        top: 30px;
        right: 20px;
        color: #ff2e00;
      }
      .place > ul > li > span:nth-child(1) {
        color: #9d9d9d;
        display: inline-block;
        width: 120px;
        padding: 0 8px 12px 0;
      }
      .menu-title {
        vertical-align: top;
      }
      .menu {
        display: inline-block;
      }
      .menu > li > span:nth-child(1) {
        display: inline-block;
        width: 70%;
      }
    </style>
  </head>
  <body>
    <header>
      <div class="wrap">
        <h1><a href="/"></a></h1>
        <div>
          <a class="login" href="/login">로그인</a>
        </div>
      </div>
    </header>
    <main>
      <section class="thumbnail">
        <img
          src="https://www.shutterstock.com/ko/blog/wp-content/uploads/sites/17/2018/11/shutterstock_1068672764.jpg"
          alt=""
        />
      </section>
      <section class="place">
        <h1 class="title">록갈비 신림점 <span>4.7</span></h1>
        <div class="like">
          <i class="fa fa-heart" aria-hidden="true"></i>
        </div>
        <ul>
          <li>
            <span>주소</span>
            <span>부산광역시 해운대구 달맞이길 239-16</span>
          </li>
          <li>
            <span>전화번호</span>
            <span>051-746-0705</span>
          </li>
          <li>
            <span>음식 종류</span>
            <span>카페 / 디저트</span>
          </li>
          <li>
            <span>가격대</span>
            <span>만원 ~ 2만원</span>
          </li>
          <li>
            <span>영업시간</span>
            <span>10:30 ~ 22:00</span>
          </li>
          <li>
            <span class="menu-title">메뉴</span>
            <ul class="menu">
              <li>
                <span>양념 쪽갈비</span>
                <span>16,000원</span>
              </li>
              <li>
                <span>매운 쪽갈비</span>
                <span>16,000원</span>
              </li>
              <li>
                <span>날치알 주먹밥</span>
                <span>4,000원</span>
              </li>
            </ul>
          </li>
        </ul>
      </section>
    </main>
  </body>
</html>
