<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/detail.css" />
    <script src="/js/detail.js" defer></script>
  </head>
  <body>
    <%- include('includes/header') %>
    <main>
      <section class="thumbnail">
        <!-- 이미지삽입 -->
      </section>
      <section class="place">
        <h1 class="title"></h1>
        <div class="like">
          <i class="fa fa-heart-o" aria-hidden="true"></i>
        </div>
        <ul class="info">
          <!-- li데이터삽입 -->
          <li>
            <span class="menu-title">메뉴</span>
            <ul class="menu">
              <!-- 데이터삽입 -->
            </ul>
          </li>
        </ul>
      </section>
      <section class="review">
        <div class="title-container">
          <h2 class="review-count"></h2>
          <div class="review-write">
            <span>리뷰 작성하기</span>
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </div>
        </div>
        <div id="modal" class="modal-overlay">
          <div class="modal-window">
            <div class="title"></div>
            <div class="close-area">
              <i class="fa fa-times" aria-hidden="true"></i>
            </div>
            <div class="modal-content">
              <h2 class="modal-title"></h2>
              <p>어떠셨는지 솔직하게 리뷰를 써주세요</p>
              <div class="rating">
                <i class="rating__default fa fa-star"></i>
                <i class="rating__star fa fa-star-o"></i>
                <i class="rating__star fa fa-star-o"></i>
                <i class="rating__star fa fa-star-o"></i>
                <i class="rating__star fa fa-star-o"></i>
              </div>
              <textarea class="review-text" placeholder="주문하신 메뉴는 어떠셨나요? 식당의분위기와 서비스도 궁금해요!"></textarea>
              <div class="upload-container">
                <div class="upload"><i class="fa fa-plus-square-o" aria-hidden="true"></i></div>
              </div>
              <input class="upload-input" type="file" accept="image/jpeg, image/png" />
              <button class="review-btn">리뷰올리기</button>
            </div>
          </div>
        </div>
        <ul class="review-ul">
          <!-- 리뷰 데이터 삽입 -->
        </ul>
      </section>
    </main>
  </body>
</html>
