<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>piggy-path mypage 마이페이지</title>
  <%- include('includes/favicon') %>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/mypage.css" />
    <script src="/js/editPassword.js" defer></script>
</head>

<body>
  <%- include('includes/header') %>
    <div class="profileform" style="margin-top: 300px;">
      <input class="inputPassword" id="currentPassword" type="password" placeholder="현재 비밀번호를 입력해 주세요."
        style="margin-bottom: 30px;" />
      <input class="inputPassword" id="editPassword" type="password" placeholder="새로운 비밀번호를 입력해 주세요." />
      <input class="inputPassword" id="editConfirmPassword" type="password" placeholder="새로운 비밀번호를 다시 입력해 주세요." />
      <button class="buttonPassword">비밀번호 변경</button>
    </div>
</body>

</html>