<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>piggy-path</title>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.css" />
  <script src="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.js"></script>
  <link rel="stylesheet" href="/css/index.css" />
  <script src="/js/index.js" defer></script>
</head>

<body>
  <%- include('includes/header') %>
    <main>
      <section class="search wrap">
        <div class="search-container">
          <h2 class="title">오늘 뭐먹지?</h2>
          <div class="input-container">
            <input placeholder="지역, 가격, 음식명 검색" type="text" />
            <i class="fa fa-search" aria-hidden="true"></i>
          </div>
        </div>
      </section>
      <section class="category wrap">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="category-list swiper-slide">
              <a href="/">
                <img
                  src="https://www.shutterstock.com/ko/blog/wp-content/uploads/sites/17/2018/11/shutterstock_1068672764.jpg"
                  alt="" />
                <p>강남 맛집 베스트</p>
              </a>
            </div>
            <div class="category-list swiper-slide">
              <a href="/">
                <img
                  src="https://www.shutterstock.com/ko/blog/wp-content/uploads/sites/17/2018/11/shutterstock_1068672764.jpg"
                  alt="" />
                <p>강남 맛집 베스트</p>
              </a>
            </div>
            <div class="category-list swiper-slide">
              <a href="/">
                <img
                  src="https://www.shutterstock.com/ko/blog/wp-content/uploads/sites/17/2018/11/shutterstock_1068672764.jpg"
                  alt="" />
                <p>강남 맛집 베스트</p>
              </a>
            </div>
            <div class="category-list swiper-slide">
              <a href="/">
                <img
                  src="https://www.shutterstock.com/ko/blog/wp-content/uploads/sites/17/2018/11/shutterstock_1068672764.jpg"
                  alt="" />
                <p>강남 맛집 베스트</p>
              </a>
            </div>
            <div class="category-list swiper-slide">
              <a href="/">
                <img
                  src="https://www.shutterstock.com/ko/blog/wp-content/uploads/sites/17/2018/11/shutterstock_1068672764.jpg"
                  alt="" />
                <p>강남 맛집 베스트</p>
              </a>
            </div>
            <div class="category-list swiper-slide">
              <a href="/">
                <img
                  src="https://www.shutterstock.com/ko/blog/wp-content/uploads/sites/17/2018/11/shutterstock_1068672764.jpg"
                  alt="" />
                <p>강남 맛집 베스트</p>
              </a>
            </div>
            <div class="category-list swiper-slide">
              <a href="/">
                <img
                  src="https://www.shutterstock.com/ko/blog/wp-content/uploads/sites/17/2018/11/shutterstock_1068672764.jpg"
                  alt="" />
                <p>강남 맛집 베스트</p>
              </a>
            </div>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </section>
      <section class="feed wrap">
        <h2 class="title">핫한 맛집</h2>
        <ul class="feed-container">
          <li class="feed-item">
            <a href="/detail">
              <div class="img-container">
                <img
                  src="https://search.pstatic.net/common/?autoRotate=true&quality=95&type=f400_300&src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20210812_156%2F1628759087047sj55v_JPEG%2FHwc1TwTMzCcB9jbNSPcp15nQ.jpg" />
              </div>
              <h3>록갈비 <span>4.6</span></h3>
              <p>양재동 - 고기/ 요리</p>
            </a>
          </li>
          <li class="feed-item">
            <a href="/detail">
              <div class="img-container">
                <img
                  src="https://search.pstatic.net/common/?autoRotate=true&quality=95&type=f400_300&src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20210812_156%2F1628759087047sj55v_JPEG%2FHwc1TwTMzCcB9jbNSPcp15nQ.jpg" />
              </div>
              <h3>록갈비 <span>4.6</span></h3>
              <p>양재동 - 고기/ 요리</p>
            </a>
          </li>
          <li class="feed-item">
            <a href="/detail">
              <div class="img-container">
                <img
                  src="https://search.pstatic.net/common/?autoRotate=true&quality=95&type=f400_300&src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20210812_156%2F1628759087047sj55v_JPEG%2FHwc1TwTMzCcB9jbNSPcp15nQ.jpg" />
              </div>
              <h3>록갈비 <span>4.6</span></h3>
              <p>양재동 - 고기/ 요리</p>
            </a>
          </li>
          <li class="feed-item">
            <a href="/detail">
              <div class="img-container">
                <img
                  src="https://search.pstatic.net/common/?autoRotate=true&quality=95&type=f400_300&src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20210812_156%2F1628759087047sj55v_JPEG%2FHwc1TwTMzCcB9jbNSPcp15nQ.jpg" />
              </div>
              <h3>록갈비 <span>4.6</span></h3>
              <p>양재동 - 고기/ 요리</p>
            </a>
          </li>
          <li class="feed-item">
            <a href="/detail">
              <div class="img-container">
                <img
                  src="https://search.pstatic.net/common/?autoRotate=true&quality=95&type=f400_300&src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20210812_156%2F1628759087047sj55v_JPEG%2FHwc1TwTMzCcB9jbNSPcp15nQ.jpg" />
              </div>
              <h3>록갈비 <span>4.6</span></h3>
              <p>양재동 - 고기/ 요리</p>
            </a>
          </li>
          <li class="feed-item">
            <a href="/detail">
              <div class="img-container">
                <img
                  src="https://search.pstatic.net/common/?autoRotate=true&quality=95&type=f400_300&src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20210812_156%2F1628759087047sj55v_JPEG%2FHwc1TwTMzCcB9jbNSPcp15nQ.jpg" />
              </div>
              <h3>록갈비 <span>4.6</span></h3>
              <p>양재동 - 고기/ 요리</p>
            </a>
          </li>
          <li class="feed-item">
            <a href="/detail">
              <div class="img-container">
                <img
                  src="https://search.pstatic.net/common/?autoRotate=true&quality=95&type=f400_300&src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20210812_156%2F1628759087047sj55v_JPEG%2FHwc1TwTMzCcB9jbNSPcp15nQ.jpg" />
              </div>
              <h3>록갈비 <span>4.6</span></h3>
              <p>양재동 - 고기/ 요리</p>
            </a>
          </li>
          <li class="feed-item">
            <a href="/detail">
              <div class="img-container">
                <img
                  src="https://search.pstatic.net/common/?autoRotate=true&quality=95&type=f400_300&src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20210812_156%2F1628759087047sj55v_JPEG%2FHwc1TwTMzCcB9jbNSPcp15nQ.jpg" />
              </div>
              <h3>록갈비 <span>4.6</span></h3>
              <p>양재동 - 고기/ 요리</p>
            </a>
          </li>
          <li class="feed-item">
            <a href="/detail">
              <div class="img-container">
                <img
                  src="https://search.pstatic.net/common/?autoRotate=true&quality=95&type=f400_300&src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20210812_156%2F1628759087047sj55v_JPEG%2FHwc1TwTMzCcB9jbNSPcp15nQ.jpg" />
              </div>
              <h3>록갈비 <span>4.6</span></h3>
              <p>양재동 - 고기/ 요리</p>
            </a>
          </li>
          <li class="feed-item">
            <a href="/detail">
              <div class="img-container">
                <img
                  src="https://search.pstatic.net/common/?autoRotate=true&quality=95&type=f400_300&src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20210812_156%2F1628759087047sj55v_JPEG%2FHwc1TwTMzCcB9jbNSPcp15nQ.jpg" />
              </div>
              <h3>록갈비 <span>4.6</span></h3>
              <p>양재동 - 고기/ 요리</p>
            </a>
          </li>
          <li class="feed-item">
            <a href="/detail">
              <div class="img-container">
                <img
                  src="https://search.pstatic.net/common/?autoRotate=true&quality=95&type=f400_300&src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20210812_156%2F1628759087047sj55v_JPEG%2FHwc1TwTMzCcB9jbNSPcp15nQ.jpg" />
              </div>
              <h3>록갈비 <span>4.6</span></h3>
              <p>양재동 - 고기/ 요리</p>
            </a>
          </li>
          <li class="feed-item">
            <a href="/detail">
              <div class="img-container">
                <img
                  src="https://search.pstatic.net/common/?autoRotate=true&quality=95&type=f400_300&src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20210812_156%2F1628759087047sj55v_JPEG%2FHwc1TwTMzCcB9jbNSPcp15nQ.jpg" />
              </div>
              <h3>록갈비 <span>4.6</span></h3>
              <p>양재동 - 고기/ 요리</p>
            </a>
          </li>
        </ul>
      </section>
    </main>
    <footer>
      <address>&copy nbc node B group8</address>
    </footer>
</body>

</html>