<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>piggy-path mypage 마이페이지</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <style>
      /* common */
      * {
        font-family: 'Noto Sans KR', sans-serif;
        box-sizing: border-box;
      }

      body{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center; 
        }

      /* 유저 프로필 */
      .profile {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 20px 0px 50px 0px;
      }
      .box {
        position: relative;
        width: 150px;
        height: 150px;
        /* background-color: skyblue; */
      }
      .box::after {
        display: block;
        content: '';
        padding-bottom: 100%;
      }
      .user-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
      .user-info {
        margin: 0px 0px 0 20px;
      }
      .user-info button {
        width: 100px;
        background-color: #ff2e00;
        color: #ffffff;
        border-radius: 20px;
        border: none;
        font-size: 15px;
      }
      .user-info button:hover {
        background-color: #ce2905;
      }

      .title{
        margin: 0px 0px 10px 0px;
      }

      div{
        display: block;
      }

      .courses-container {
        cursor: pointer;
      }

      .course {
        background-color: #ffffff;

        display: flex;
        overflow: hidden;
        width: 100%;

        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding-top: 20px;
        padding-bottom: 20px;
      }

      .course h6 {
        opacity: 0.6;
        margin: 0;
        letter-spacing: 1px;
        text-transform: uppercase;
      }

      .course h2 {
        letter-spacing: 1px;
        margin: 10px 0;
      }

      .course-preview {
        background-color: #2a265f;
        color: #fff;
        max-width: 150px;
      }

      .course-preview a {
        color: #fff;
        display: inline-block;
        font-size: 12px;
        opacity: 0.6;
        margin-top: 30px;
        text-decoration: none;
      }

      .course-info {
        padding: 30px;
        position: relative;
        width: 400px
      }

      .course i{
        font-size: 20px ;
        color: #ff2e00;
      }
    </style>
  </head>
  <body>
    <div class="profile">
      <div class="box"><img src = https://cdn.sisamagazine.co.kr/news/photo/201905/193585_185187_2813.jpg alt="" class="user-image"></div>
      <div class="user-info">
        <h1 style="font-size: 24px; margin-bottom: 10px">먹짱 쯔양</h1>
        <h2 style="font-size: 16px; margin-bottom: 10px">세상의 모든 맛집을 찾습니다!</h2>
        <button>프로필 수정</button>
      </div>
    </div>

<h1 class="title">
  <span>"먹짱쯔양"</span>
  님이 좋아하는 맛집
  총<span>5</span>개
</h1>

    <div class="courses-container" onclick="window.location.href='../../../detail/679'">
      <div class="course">
        <img src="https://mp-seoul-image-production-s3.mangoplate.com/382822/580071_1609319467620_20768?fit=around|512:512&amp;crop=512:512;*,*&amp;output-format=jpg&amp;output-quality=80" class="course-preview" />
        <div class="course-info">
          <h6 style="font-size: 13px">서울특별시 종로구 삼봉로 98 1F</h6> <h2 style="font-size: 24px; font-weight: 600">오목집</h2>
          <p style="color: gray; font-size: 14px">고기 요리</p>
          
        </div>
        <i class="fa fa-heart" aria-hidden="true"></i>
    </div>
  </body>
</html>
