<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>piggy-path mypage 마이페이지</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/mypage.css" />
    <script src="/js/mypage.js" defer></script>
  </head>
  <body>
    <div class="profile">
      <div class="box"><img src = https://cdn.sisamagazine.co.kr/news/photo/201905/193585_185187_2813.jpg alt="" class="user-image"></div>
      <div class="user-info">
        <h1 style="font-size: 24px; margin-bottom: 10px">먹짱 쯔양</h1>
        <h2 style="font-size: 16px; margin-bottom: 10px">세상의 모든 맛집을 찾습니다!</h2>
        <button class="profile-write">프로필 수정</button>
      </div>
    </div>

    <div id="modal" class="modal-overlay">
      <div class="modal-window">
        <div class="title"></div>
        <div class="close-area">
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>

        <!-- 프로필 수정 팝업 영역 -->
        <div class="modal-content">
          <h2>프로필 수정</h2>
          <p>piggypath 대표 프로필과 닉네임을 수정해보세요</p>
          <div class="profile">
            <img src="https://young-gyu-bucket.s3.ap-northeast-2.amazonaws.com/image/review/1687943098969-profile.png" alt="" />
          </div>
          <div class="upload-picture">
            <input class="picture-modify" type="file" accept="image/jpeg, image/png" />
            <button class="picture-delete">사진 삭제</button>
          </div>
          <h3>닉네임</h3>
          <textarea class="name-text" placeholder="닉네임을 수정해보세요">먹짱 쯔양</textarea>
          <h3>소개</h3>
          <textarea class="introduce-text" placeholder="소개 최대 30자 입력 가능합니다">세상의 모든 맛집을 찾습니다!</textarea>
          <button class="profile-btn">적용</button>
        </div>
      </div>
    </div>

    <h1 class="title">
      <span>"먹짱쯔양"</span>
      님이 좋아하는 맛집 총<span>5</span>개
    </h1>

    <div class="courses-container" onclick="window.location.href='../../../detail/679'">
      <div class="course">
        <img src="https://mp-seoul-image-production-s3.mangoplate.com/382822/580071_1609319467620_20768?fit=around|512:512&amp;crop=512:512;*,*&amp;output-format=jpg&amp;output-quality=80" class="course-preview" />
        <div class="course-info">
          <h6 style="font-size: 13px">서울특별시 종로구 삼봉로 98 1F</h6>
          <h2 style="font-size: 24px; font-weight: 600">오목집</h2>
          <p style="color: gray; font-size: 14px">고기 요리</p>
        </div>
        <i class="fa fa-heart" aria-hidden="true"></i>
      </div>
    </div>
  </body>
</html>
